.tabUser-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#idHeader {
  width: 10%;
  overflow: hidden;
  margin-right: 5%;
}

.tabUser-header div {
  text-align: center;
  width: 20%;
}

.tabeUser-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

#id {
  width: 10%;
  overflow: hidden;
}

.tabeUser-row div {
  text-align: center;
  width: 25%;
}
